*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    background-color:#c4dad9f8!important;
}
.todomain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.todoinner{
    margin-top: 20px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    background:#208482bf;
    border-radius: 10px;
    box-shadow: 9px 6px 11px 1px #293f41, inset 8px 5px 10px 4px #286161;
}   
.toDoHeading{
  padding: 5px 20px; 
  margin-top: 20px;
  background:#f55d05;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 253, 247);
  font-size: 2rem;
}
.inputOrBtn{
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}
.inputOrBtn> input{
    outline: none;
    border-style:none;
    background:#4a9a98;
    margin-top: 10px;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid;
}
.inputOrBtn> input::placeholder{
    color: rgb(0, 0, 0);
    font-family: cursive;
}

.inputOrBtn > button{
background-color: #f55d05;
margin-left: 30px;
font-size: 1.3rem;
}


.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list > li{
    text-transform: capitalize  !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    opacity: none;
}
.list > li ::-webkit-scrollbar{
    color: #293f41;
    background-color: #293f41;
}
.list > li > button{
    outline: none;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 10px;
    border-style: none;
    color: #f0f0f0;
    background: rgb(12, 12, 12);
    opacity:1;
}
.list > li > button:active{
    transform: scale(1.2,1.2);
    background-color: rgb(14, 0, 0);
}
.strike{
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .todoinner{
        width:100%
    }
    .inputOrBtn{
        display: flex;
        
    }
    .inputOrBtn > button {
        margin-left: 5px;
    }
}
/* ------------loginform------------sigin component */
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}